@*constraint to reach this page*@
@*@page "{/Resturants/Details}"*@
@*@page "{id}"*@

@*route constraint are created internally*@
@page "{resturantID:int}"

@model OdeToFood.Pages.Resturants.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Resturant.Name</h2>

<div>
    Id: @Model.Resturant.ID
</div>
<div>
    Location: @Model.Resturant.Location
</div>
<div>
    Cuisine: @Model.Resturant.Cuisine
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default">All Resturants</a>

